<p>Thank you, <%=h @mentor.name %> for applying to be a Seattle Girls' School Mentor.</p>

<h3>Next Steps:</h3>

<ol>

<li><i>Come in for a Connections tour</i> given by the Head of School Marja Brandon and the Development Director Dani Reynaud. They are every first Wednesday: May 4th, and June 1st 11 AM - 12 PM and every third Thursday: May 21st 9 AM - 10 AM. Please schedule an appointment with <a href="mailto:ccampbell@seattlegirlsschool.org?subject=Requesting to Schedule a SGS Connections Tour">Camille Campbell</a>.</li>

<li><i>Submit two character references.</i> Please have two references that can judge your qualifications complete the online form at <a href="http://mentors.seattlegirlsschool.org/referrals">http://mentors.seattlegirlsschool.org/referrals</a>. We would prefer one reference from a recent employer and another reference for which you have previously volunteered if you have previous volunteer experience.</li>

</ol>
