<% saying = "To Master the Kick, Practice it Ten Thosand Times." %>
<% novice = true %>

<html>
  <head>
    <title>Great Martial Arts Wisdom</title>
  </head>

  <body>
    <% if novice %>
      <h2>Bruce Lee said: <%= saying %></h2>
    <% else %>
      <h2>Fail!</h2>
    <% end %>
  </body>
</html>
