<p>Thank you, <u><%= @referral.name %></u> for your referral for <u><%= @referral.reference_for %></u>.</p>

<p><strong>Please Note:</strong> We will be spot-checking a number of references we receive.  Therefore we may contact you, via telephone or email in the near future to verify your reference.  Thank you for your time and comments.</p>

<p>For further information about the school please visit our website at <a href="www.seattlegirlsschool.org">http://www.seattlegirlsschool.org/</a></p>
