<% title "SGS Reports" %>

<% if current_user %>
  <% if current_user.read_reports %>
    <p><a href="/mentors_excel">Mentor Application Spreadsheet</a></p>
    <p><a href="/referrals_excel">Referral Report Spreadsheet</a></p>
  <% else %>
    <p>Ask the Technomage for Permission to view</p>
  <% end %>
<% else %>
  <p>Restricted to Authorized Users</p>
<% end %>
